<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Spring Security Example</title>
	</head>
	<body>
		<h1> Welcome ! </h1>
		<p> Click <a th:href="@{/hello}">here to see greeting </a> </p>
		<table border="1">
			<tr>
				<td><a href="/actuator">Actuator </a> </td>
				<td>expose endpoints</td>				
			</tr>
			<tr>
				<td><a href="/snippets">Snippets </a> </td>
				<td>Show Snippets collected over time</td>
			</tr>
			<tr>
				<td><a href="/snippets/1">First Snippet with Get Mapping </a> </td>
				<td>First Snippet</td>
			</tr>
			<tr>
				<td><a href="/snippets/rand">Random Snippets </a> </td>
				<td>Random Snippet</td>
			</tr>		
			<tr>
				<td><a href="/snippets/rand/5">Random Snippets by Count </a>  </td>
				<td>Random Snippet by Count</td>
			</tr>
			<tr>
				<td><a href="/snippets/c/java">Snippets by Category (ex.java) </a> </td>
				<td>Snippets by Category</td>
			</tr>
		</table>
		<hr />
		Thymeleaf samples
		<table border="1">
			<tr>
				<td><a href="/th_snippets">Snippets</a> </td>
				<td>List all Snippets</td>
			</tr>
			<tr>
				<td><a href="/th_rand">Random Snippets</a> </td>
				<td>List Random Snippets</td>
			</tr>
			<tr>
				<td>
					<form action="#" th:action="@{/th_snippets}" th:object="${snippet}" method="POST">
						<button type="submit"> Post Demo </button>
					</form>
				</td>
				<td>Form Post to get Snippets</td>
			</tr>
		</table>
		
	</body>
</html>