<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Listing Snippets</title>
        <style>
	        div {
	          white-space: pre-wrap;
	        }
	      </style>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
            
        <form action="#" th:action="@{/th_snippets}" th:object="${snippetForm}" th:method="POST">
        	Keyword: <input id="keyword" type="text" th:name="keyword" />
        	<table>
	    		<tr>
	    			<td>Category</td>
	    			<td><input id="category" type="text" th:field="*{category}" name="title" /></td>      			
	    		</tr>
        		<tr>
	    			<td>Title</td>
	    			<td><input id="title" type="text" th:field="*{title}" name="title" /></td>      			
        		</tr>
        		<tr>
	    			<td><label for="content">Content</label></td>
	    			<td>
	    				<input id="content" type="text" th:field="*{content}" name="content" /></td>
	    		</tr>
        		<tr>
	    			<td></td>
	    			<td><input type="submit" value="Add"/></td>      			
        		</tr>
        		<tr>
	    			<td></td>
	    			<td><a href="/th_rand">Random</a></td>      			
        		</tr>
        		<tr>
	    			<td></td>
	    			<td><a href="/th_snippets">All Snippets</a></td>      			
        		</tr>
        	</table>
        </form>
        Listing 
        <table border="1"> 
        	<tr>
        		<th>ID</th>
        		<th>content</th>
        	</tr>        	
        	<tr th:each="snippet: ${snippetForm.snippetsList}">
        		<td th:text="${snippet.id}"> </td>
        		<td><div><output th:text="${snippet.content}" /></div>
        		</td>
        	</tr>
        </table>
            
    </body>
</html>