<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
        	<table> 
            	<tr>
            		<td> User Name</td> 
            		<td> <input type="text" name="username"/></td>
            	</tr>
            	<tr>
            		<td> Password: </td>
            		<td> <input type="password" name="password"/> </td>
            	</tr>
            	<tr>
            		<td> &nbsp; </td>
            		<td> <input type="submit" value="Sign In"/></td>
            	</tr>
            </table>
        </form>
    </body>
</html>