<html>
	<body>
		<h1>Home Page </h1>
		<p>This is landing page for showing Snippets</p>
		
		<table>
			<tr>
				<td><a href="/actuator">Actuator </td>
				<td>expose endpoints</td>				
			</tr>
			<tr>
				<td><a href="/snippets">Snippets</td>
				<td>Show Snippets collected over time</td>
			</tr>
			<tr>
				<td><a href="/snippets/1">First Snippet with Get Mapping</td>
				<td>First Snippet</td>
			</tr>
			<tr>
				<td><a href="/snippets/rand">Random Snippets</td>
				<td>First Snippet</td>
			</tr>
			
		</table>
	</body>
</html>