<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>This is one employee</title>
</head>
<body>
    This is for one employee.

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productPrice}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>