<html>
	<body>
		<h1>Home Page </h1>
		<p>This page will show links for general purpose calculation</p>
		
		<table>
			<tr>
				<td><a href="/actuator">Actuator </td>
				<td>expose endpoints</td>				
			</tr>
			<tr>
				<td><a th:href="@{dtCalc}">Date Calculator </td>
				<td>Calculate new date based on days added. Uses Controller + Thymeaf Form</td>
			</tr>
			<tr>
				<td><a th:href="@{mtCalc}">Month Calculator </td>
				<td>Calculate new Month based on days added. Uses Controller + Thymeaf Form</td>
			</tr>
		</table>
	</body>
</html>