<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--<bean id="jobBean" class="com.sandbox.Job">
        <constructor-arg ref="jobTypeBean" />
    </bean>-->

    <!--<bean id="jobBeanSingleton" class="com.sandbox.Job">
        <constructor-arg ref="jobTypeBean" />
    </bean>-->

    <bean id="jobTypeBean" class="com.sandbox.JobType">
        <property name="name" value="Box" />
    </bean>

    <bean id="citiesBean" class="com.sandbox.CitiesList">
        <property name="cities">
            <list>
                <value>Topeka</value>
                <value>Tulsa</value>
            </list>
        </property>
    </bean>

    <bean id="autoWireByName" class="com.sandbox.AutowireByName">
        <property name="jobType" ref="jobTypeBean"/>
    </bean>
</beans>
