<html xmlns:th="http://www.w3.org/1999/xhtml">
	<body>
		<h1>Home Page </h1>
		<table>
			<tr>
				<td><a href="/h2-console">H2 Console </a></td>
				<td>H2 Console - connect using user/pass from application.properties</td>
			</tr>
			<tr>
				<td>Look for table created using data.sql</td>
				<td>Table POSTS will be available with data</td>
			</tr>
		</table>
		<hr />
		<p>This page will show links for general purpose calculation</p>
		<table>
			<tr>
				<td><a href="/tasks_demo.html">Tasks </a></td>
				<td>Tasks</td>
			</tr>
			<tr>
				<td><a href="/actuator">Actuator </a></td>
				<td>expose endpoints</td>				
			</tr>
            <tr>
                <td><a href="/actuator/mappings">Actuator mappings</a></td>
                <td>mappings </td>
            </tr>
            <tr>
                <td><a href="/radiobutton">Radio Button Demo</a></td>
                <td>Radio Button</td>
            </tr>
			<tr>
				<td><a href="/api/users/">Get all Users</a></td>
				<td>Get all users</td>
			</tr>
            <tr>
                <td><a href="/api/users/1">Get user by id</a></td>
                <td>Get user by their id</td>
            </tr>
			<tr>
				<td><a th:href="@{dtCalc}">Date Calculator </td>
				<td>Calculate new date based on days added. Uses Controller + Thymeaf Form</td>
			</tr>
			<tr>
				<td><a th:href="@{mtCalc}">Month Calculator</a> </td>
				<td>Calculate new Month based on days added. Uses Controller + Thymeaf Form</td>
			</tr>
		</table>
		<hr />
		<table>
			<tr>
				<td><a href="/js_button_demo.html">Javascript Button</td>
				<td>Javascript Button</td>
			</tr>
			<tr>
				<td><a href="/div_demo.html">Div</td>
				<td>Div Demo</td>
			</tr>
			<tr>
				<td><a href="/padding_demo.html">Padding</td>
				<td>Padding Demo</td>
			</tr>
			<tr>
				<td><a href="/trim_zeroes.html">Trim Zeroes</td>
				<td>Trim Zeroes</td>
			</tr>
		</table>
	</body>
</html>